<%- include("partials/header"); -%>

<h1>Contact Us</h1>
<h3>Write Us At: <a href="mailto:gauravjdh2021@gmail.com">dailyjournal@gmail.com</a></h3>
<!-- <p><%= contactDetail %></p> -->

<%- include("partials/footer"); -%>
